@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #0b1326;
  color: #dae2fd;
}
.glass {
  background: rgba(30, 41, 59, 0.4);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.08);
  border-top: 1px solid rgba(255,255,255,0.15);
  transition: all 0.3s ease;
}

.glass:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 40px rgba(128,131,255,0.25);
}